@using EVTrend.Areas.Content.Models
@using System.Data

@{
    ViewData["Title"] = "總體碳排量與電動車數據";
}
@{

    IEnumerable<TotalElecModel> TotalElecs = ViewData["TotalElec"] as IEnumerable<TotalElecModel>;
    IEnumerable<TotalCarbonModel> TotalCarbons = ViewData["TotalCarbon"] as IEnumerable<TotalCarbonModel>;
}
<h1>@ViewData["Title"]</h1>
<table>
    <tr>
        <th>Year</th>
        <th>Country</th>
        <th>ElecRegisterNumber</th>
        <th>TotalRegisterNumber</th>
    </tr>
    @foreach (TotalElecModel TotalElec in TotalElecs)
    {
        <tr>
            <td>@TotalElec.Year</td>
            <td>@TotalElec.Country</td>
            <td>@TotalElec.ElecRegisterNumber</td>
            <td>@TotalElec.TotalRegisterNumber</td>
        </tr>
    }
</table>
<p>TotalCarbon_Table</p>
<table>
    <tr>
        <th>Year</th>
        <th>Country</th>
        <th>T_CarbonNumber</th>
        <th>TotalCarbonNumber</th>
    </tr>
    @foreach (TotalCarbonModel TotalCarbon in TotalCarbons)
    {
        <tr>
            <td>@TotalCarbon.Year</td>
            <td>@TotalCarbon.Country</td>
            <td>@TotalCarbon.T_CarbonNumber</td>
            <td>@TotalCarbon.TotalCarbonNumber</td>
        </tr>
    }
</table>

