@using EVTrend.Areas.Member.Models
@{
    ViewData["Title"] = "使用者管理";
}
@{
    IEnumerable<MemberModels> member = ViewData["Member"] as IEnumerable<MemberModels>;
}
<html>
<head>
    <script src="~/js/jqAccountUnit.js"></script>
</head>
<body>
    <h1>@ViewData["Title"]</h1>
    <br>
    <div class="container">
        <div class="row">
            <table class="table table-striped" style="text-align:center;">
                <thead>
                    <tr>
                        <th scope="col">帳號</th>
                        <th scope="col">暱稱</th>
                        <th scope="col">性別</th>
                        <th scope="col">生日</th>
                        <th scope="col">系統權限</th>
                        <th scope="col">執行動作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (MemberModels item in member)
                    {
                        <tr>
                            <td class="align-middle">@item.Account</td>
                            <td class="align-middle">@item.Username</td>
                            <td class="align-middle">@item.Gender</td>
                            <td class="align-middle">@item.Birthday.Value.ToString("D", new System.Globalization.CultureInfo("zh-TW"))</td>
                            <td class="align-middle">@item.StatusNo</td>
                            <td class="align-middle">
                                <button type="button" class="btn btn-primary" onclick="editMember('@item.Account')">修改</button>
                                <span>&nbsp;&nbsp;</span>
                                <button type="button" class="btn btn-primary" onclick="deleteMember('@item.Account')">刪除</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>